HOA: v1
name: "GFa"
States: {{ k+1 }}
Start: 0
acc-name: Buchi
Acceptance: 1 Inf(0)
AP: 2 "0" "1"
--BODY--
State: 0
[0 | 1] 0
[1] 1
State: 1 {0}
[0 | 1] 2
{%- for i in range(2, k) -%}
{% set next = i + 1 %}
State: {{ i }} {0}
[0 | 1] {{ next }}
{%- endfor %}
State: {{ k }} {0}
[0 | 1] {{ k }}
--END--