%%automaton a_{{ autid }} dot
digraph
{
vcsn_context = "lal(01), b"

// Initial state
I -> {{ initialstate }}

// Transitions
{% for state in range(nstates) -%}
{% for (letter, dest) in transitions[state] -%}
{{ state }} -> {{ dest }} [label = "{{ letter }}"]
{% endfor -%}
{% endfor -%}

// Accepting states
{% for state in accstates -%}
{{ state }} -> F
{% endfor -%}
}