HOA: v1
name: "GFa"
States: {{ nstates }}
Start: {{ initialstate }}
acc-name: Buchi
Acceptance: 1 Inf(0)
AP: 2 "0" "1"
--BODY--
{% for state in range(nstates) -%}
State: {{ state }}{% if state in accstates %} {0}{% endif %}
{% for (letter, dest) in transitions[state] -%}
[{{ letter }}] {{ dest }}
{% endfor -%}
{% endfor %}
--END--