vcsn_context = "lal(01), b"
// Initial state
$ -> {{ initialstate }}

// Transitions
{% for state in range(nstates) -%}
{% for (letter, dest) in transitions[state] -%}
{{ state }} -> {{ dest }} {{ letter }}
{% endfor -%}
{% endfor -%}

// Accepting states
{% for state in accstates -%}
{{ state }} -> $
{% endfor -%}